<div class="container-fluid">
  <div class="row mt-4">
    <div class="col">
      <div class="col-4">
        <div class="card card-shadow">
          <div class="card-body text-center">
            <div class="mb-3">
              <h4 class="text-muted">Hello User</h4>
            </div>
            <div class="mb-3">
              <p class="text-muted">
                We Have Sent Link To Your Email Id , Please Verify Then Login
                Again
              </p>
            </div>

            <div class="btns mt-4">
              <button class="btn btn-primary" [routerLink]="['/login']">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
